/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #EEEEEE;
    --color-footer: #9d9aff;
    --color-blue: #0043bc;
    --color-gray: #393E46;
    --color-blue-light: #9e9ad8d3;
    --color-black: #1e260f;
    --error-color: #ff7848;
    --color-fondo: #ffffff;
    --color-fondo2: #dedcfd6b;
    --color-fondo3: #9d9aff;

    --required-status: var(--color-gray);
}
/* Paleta1 */
.color1 {color: #0043bc;}
.color2 {color: #0069e1;}
.color3 {color: #9d9aff;}
.color4 {color: #f5d3ff;}
.color5 {color: #ffffff;}


body {
    background-color: var(--color-fondo);
    color: #151515;
    font-family: 'PT Sans Narrow', sans-serif;
}

.float-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-hidden:hover {
    background-color: var(--color-gray);
}

/*Custom Alert styles */
.customAlertContainer {
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #cfcfcfed;
    z-index: 3091;
  }
  
  .customAlert {
    display: none;
    text-align: center;
    min-width: 250px !important;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background:var(--color-blue);
  }
  
  @media all and (max-width: 1300px) {
    .customAlert .message {
      font-size: 14px !important;
    }
  
    .customAlert input[type=button] {
      height: 15% !important;
    }
  }
  
  .customAlert .message {
    padding: 5px;
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: justify;
    word-break: break-word;
  }
  
  .customAlert input[type=button] {
    width: 120px;
    height: 36px;
    outline: 0;
    border: 0;
    background: var(--color-footer);
    color: var(--color-gray);
  }
  
  .customAlert input[type=button]:hover {
    transition: 0.3s;
    cursor: pointer;
    background: var(--color-gray);
    color: var(--color-footer);
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }