.register-error {
    color: var(--error-color);
}

.register-form {
    background-color: var(--color-fondo3);
    border-radius: 1rem;
}

.imputs {
    border: solid .1rem var(--color-blue-light);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}


.form-control:hover {
    background-color: var(--color-white);
}

h5.titulo {
    text-align: center;
}

.titulo-h2 {
    display: inline-block;
    font-size: 2rem;
}

.address {
    background-color: var(--color-fondo2);
}

.row-contenedor {
    display: flex;
}

.boton {
    margin-top: 1rem;
    float: right;
}
.btn {
    margin-left: 1rem;
}

.btn-primary {
    width: 10rem;
}