.login-error {
    color: var(--error-color);
}

.conectarse {
    text-align: center;
}

.slider-img {
    width: 80%;
    max-width: 80%;
    height: 20rem;
}
.carousel-inner {
    text-align: center;
    height: 20rem;
}