.filtro {
    text-align: center;
    color: var(--color-gray);
    position: relative;
}

.line {
    position: absolute;
    top: .8rem;
    height: .1rem;
    width: 90%;
    background-color: var(--color-white);
    z-index: -5;

}

.product-card {
    height: 20rem;
    width: 13rem;
    display: inline-flex;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.product-card img {
    width: 100%;
    max-width: 13rem;
    height: 11rem;

}

.card-body button {
    background-color: var(--color-blue);
    color: var(--color-white);
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
}

.card-body {
    height: 10rem;
}
.card-title {
    font-weight: bold;
    font-size: 1rem;
}

.card-text {
    font-size: .8rem;
    text-align: left;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.toast {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--color-blue);
}

.search-bar {
    position: relative;
}

.search-box {
    padding-right: 1.5rem;
}

.search-icon {
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
}

.dropdown-item {
    color: var(--color-black);
}

.dropdown-item:hover {
    color: var(--color-black);
    background-color: var(--color-fondo2);
}