<footer>
    <div class="container-fluid">
      <section class="row">
        <article class="col text-center">
          <div class="d-inline-block text-center">
            <h3 class="bold">Desarrolla Store</h3>
            <a href="/acercaDe" class="Acerca">Acerca de nosotros</a>
            <br>
            <a href="/acercaDe/#Codellege" class="Acerca">Codellege-Softek</a>
            <br>
            <a href="/acercaDe/#Spgg" class="Acerca">Instituto de la Juventud <br>
              - San Pedro G.G</a>
          </div>
        </article>
        <article class="col text-center">
          <h3 class="bold">Datos de contacto:</h3>
          <br>
          <h5><b>Tel:</b> (81)83361415</h5>
          <h5><b>Correo:</b> aartplants@gmail.com</h5>
        </article>
        <article class="col text-center">
          <h3 class="bold">Siguenos:</h3>
          <a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a> 
            <a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a> 
            <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a> 
            <a href="http://www.youtube.com" target="_blank"><i class="bi bi-youtube"></i></a> 
        </article>
      </section>
    </div>
  </footer>