<main class="container pv-3 text-center">
  <h1>Bienvenido a Desarrolla.Store</h1>
  <hr class="margin-bottom">
</main>

<div id="SliderInicio" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#SliderInicio" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#SliderInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#SliderInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/Inicio1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/Inicio2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/Inicio3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<main class="container py-3 text-center">

  <hr>

  <h2>Categorias destacadas</h2>

  <hr>
  <div class="py-3"></div>
  <a href="/catalog"><div class="card uno mb-3 d-inline-block mx-3">
    <div class="card-header">Plantas de interior</div>
    <div class="card-body">
    </div>
    <div class="capa-uno">
      <div class="card-header">Plantas de interior</div>
      <div class="card-body">
        Este tipo de plantas se cultivan normalmente con propósitos decorativos o por razones de salud, como purificadores del aire. Pueden agruparse recreando ambientes selváticos,
         en invernaderos y miradores acristalados; esto fue muy habitual en la época victoriana.
      </div>
    </div>
  </div>
</a>
<a href="/catalog">
  <div class="card dos mb-3 d-inline-block mx-3">
    <div class="card-header">Plantas de exterior</div>
    <div class="card-body">
    </div>
    <div class="capa-dos">
      <div class="card-header">Plantas de exterior</div>
      <div class="card-body">
        Las plantas de exterior se caracterizan por la posibilidad de plantarse directamente en el jardín. Dada su naturaleza, son plantas de exterior resistentes, necesitan menos cuidados que otras plantas y son sinónimo de naturalidad.
      </div>
    </div>
  </div>
</a>

<a href="catalog">
  <div class="card tres mb-3 d-inline-block mx-3">
    <div class="card-header">Artículos Jardinería</div>
    <div class="card-body">
    </div>
    <div class="capa-tres">
      <div class="card-header">Artículos Jardinería</div>
      <div class="card-body">
        Una herramienta de jardín es una de las muchas herramientas hechas para jardines y jardinería y se solapa con la gama de herramientas hechas para la agricultura y la horticultura. Las herramientas de jardín también pueden ser herramientas de mano y herramientas eléctricas.
      </div>
    </div>
  </div>
</a>

  <div class="py-3"></div>

  <hr>
  <hr>
  <div class="py-3"></div>
  <section class="d-flex centered-flex">
    <div class="about-image">
      <img class="w-100 h-100" src="https://www.fronda.com/sites/default/files/styles/large/public/esencia/caja_ramo.jpg?itok=UI5y1Zlb">
    </div>
    <article>
      <div class="d-table w-100 h-100 px-4">
        <div class="d-table-cell align-middle text-left">
          <h3>Descubre nuestra escencia en una caja...</h3>
          <br>
          <p class="texto">Las plantas que te enviamos son seleccionadas y empaquetadas con mucho cariño para que recibas los mejores ejemplares. Nuestro embalaje de cartón reciclable está pensado para garantizar el mejor transporte para ellas.
            <br>
            <br>
            Las plantas quedan ancladas a la base con un soporte, evitando así movimientos perjudiciales durante el transporte. Además, las envolvemos en papel kraft para asegurar que sus hojas no se dañen en el trayecto. 
            <br>   
            <br>       
            ¿Todavía no te hemos convencido? ¡Compruébalo tú mismo!</p>
        </div>
      </div>
    </article>
  </section>
  <div class="py-3"></div>
</main>
