<main class="container py-4">
  <div class="row section-howare">
    <h2 class="titulo" id="how-are">Desarrolla.Store</h2>
  </div>
  <div class="separador"></div>
  <div class="row col-12">
    <article class="col-4 img-howare">
      <img src="../../assets/images/howare.png" alt="" class="img-howare">
    </article>
    <article class="how-are py-3 col-8">
      <h2 id="our">¿Quienes Somos?</h2>
      <div class="p-howare">
        <p>Somos la tienda online #1 en México dedicada a la venta de articulos electronicos para el hogar y para uso
          personal cuya misión es hacer que tu tiempo libre, de trabajo o de estudio sea el mas placentero con los
          productos que entregamos en la puerta de tu casa.</p>
      </div>
      <h2 class="py-3">Nuestros valores</h2>
      <div class="p-howare">
        <p>Creemos fielmente en la <strong>constancía</strong> y creemos que es el valor que mas nos caracteriza por el trayecto que hemos pasado para lograr que este proyecto sea posible y a pesar de todo podamos seguir creciendo como compañía y como individuos.</p>
      </div>
    </article>
  </div>
  <div class="row col-12">
    <article class="valores py-3 col-8">
      <h2 id="what-ask">¿Que buscamos?</h2>
      <div class="p-howare">
        <p>Además de ofrecer productos electronicos domesticos, de uso personal y de excelente calidad, nos gustaría aprovechar este espacio para hacer saber a todos los lectores de esta sección que nos esforzaremos en seguir creciendo para lograr cambios significativos a nivel nacional y poder seguir siendo la tienda con el mejor servicio hacia sus consumidores.</p>
      </div>
    </article>
    <article class="col-4 img-howare">
        <img src="../../assets/images/buscamos.png" alt="" class="img-howare">
    </article>
  </div>
</main>
