<div class="container">
  <div class="row row-desarrolla align-items-center">
    <h1>Acerca de Desarrolla Software</h1>
    <div class="col">
      <img class="desarrolla"
        src="https://media.ambito.com/p/52a47813f5d2aeede456089e7ff30140/adjuntos/239/imagenes/037/336/0037336123/programacion-codigo-blockchain.jpg"
        alt="Desarrolla">
    </div>
    <div class="col">
      <h3>Desarrolla Software</h3>
      <h5>Desarrolla Software es un programa desarrollado en conjunto el municipio de San Pedro con Softek,
        El principal objetivo de este programa es impartir el comocimiento acerca de la programacion WEB a jovenes
        que quieran iniciar su desarrollo como ingenieros en sistemas, al igual uno de los objetivos de este programa es
        mejorar las oportunidades laborales de los jovenes del municipio de San Pedro.
      </h5>
      <br>
      <h3>Inicio</h3>
      <h5>Este programa dio inicio en Enero del 2021 y la finalización será a finles del mes de Junio.
        Esta es la primer generación de este programa.
      </h5>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row row-codellege align-items-center" id="Codellege">
    <div class="col-5 col-codellege-texto">
      <h3>Codellege-Softek</h3>
      <br>
      <h5>Creado en 2017, nosotros enseñamos a jóvenes a programar para lograr la inclusión laboral y promover las
        Tecnologías de la Información. Nuestros esfuerzos van hacia jóvenes con talento, pero que, por situaciones
        externas, no han tenido la oportunidad de acceder a esta educación.
        El enfoque que tenemos es integral, y buscamos que nuestros coders no solo aprendan a programar, si no
        adquieran otras habilidades que les sirvan en su vida personal y laboral.</h5>
    </div>
    <div class="col-7 col-codellege">
      <img class="codellege" src="https://codellege.com/statics/SVG/codellege-color-main.png" alt="Codellege">
      <br>
      <br>
      <div>
        <h4>Datos de Contacto:</h4>
        <br>
        <div class="row">
          <div class="col">
            <a href="https://www.facebook.com/codellege" target="_blank"><i class="bi bi-facebook"></i></a>
            <h5>/codellege</h5>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/codellegecom" target="_blank"><i class="bi bi-instagram"></i></a>
            <h5>/codellegecom</h5>
          </div>
          <div class="col">
            <a href="/acercaDe" target="_blank"><i class="bi bi-envelope"></i></a>
            <h5>info@codellege.com</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <div class="row row-SPGG align-items-center" id="Spgg">
    <div class="col-7 col-SPGG">
      <img class="SPGG"
        src="https://scontent.fntr6-1.fna.fbcdn.net/v/t1.18169-9/12240122_1020067618055092_6045152004197620532_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=19026a&_nc_eui2=AeEw4dCMD5MCiN96XTAcDB_SVjkjoLcViVRWOSOgtxWJVBRHXR63KXroV81CuNWfg1k&_nc_ohc=uOsR2Yc3Z-AAX9BNXYn&_nc_ht=scontent.fntr6-1.fna&oh=9336f5f87a450cc97d3aafb934200378&oe=60E6C1CA"
        alt="">
      <br>
      <br>
      <h4>Datos de Contacto:</h4>
      <br>
      <div class="row">
        <div class="col">
          <a href="https://www.facebook.com//juventudsp" target="_blank"><i class="bi bi-facebook"></i></a>
          <h5>/juventudsp</h5>
        </div>
        <div class="col">
          <a href="https://www.instagram.com/JuventudSP" target="_blank"><i class="bi bi-instagram"></i></a>
          <h5>/JuventudSP</h5>
        </div>
        <div class="col">
          <a href="/acercaDe"><i class="bi bi-envelope" target="_blank"></i></a>
          <h5>juventud@sanpedro.gob.mx</h5>
        </div>
      </div>
    </div>
    <div class="col-5 col-SPGG-texto">
      <h3>Instituto de la Juventud SPGG</h3>
      <h5>Creado en 2017, nosotros enseñamos a jóvenes a programar para lograr la inclusión laboral y promover las
        Tecnologías de la Información. Nuestros esfuerzos van hacia jóvenes con talento, pero que, por situaciones
        externas, no han tenido la oportunidad de acceder a esta educación.
        El enfoque que tenemos es integral, y buscamos que nuestros coders no solo aprendan a programar, si no
        adquieran otras habilidades que les sirvan en su vida personal y laboral.</h5>
    </div>
    <br>
    <br>
  </div>
</div>
