header {
  background: var(--color-blue);
  box-shadow: 0rem 0.2rem 1rem 0.1rem #393e46;
  height: 3rem;
  padding: 0.3rem;
  color: var(--color-white);
  font-size: 1.4rem;

  position: sticky;
  left: 0;
  top: 0;
  z-index: 1060;
}

a, a:link {
color: var(--color-white);
text-decoration: none;

transition: 0.3seg;
}

a:hover {
    color: var(--color-black);;
    text-decoration: none;

    transition: 0.3seg;
}

.logo {
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(https://c0.klipartz.com/pngpicture/139/668/gratis-png-hoja-planta-logo-raiz-planta.png);
  background-size: 100% 100%;
  float: left;
  border-radius: 50%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

i {
  margin-left: 2rem;
}

span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
